<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ object.name }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/skel-layers.min.js' %}"></script>
		<script src="{% static 'js/init.js' %}"></script>
		<link rel="stylesheet" href="{% static "css/skel.css" %}" />
		<link rel="stylesheet" href="{% static "css/style.css" %}" />
		<link rel="stylesheet" href="{% static "css/style-xlarge.css" %}" />
	</head>
	<body class="landing">
		<header id="header">
			{% if user.is_authenticated %}
				<h1>{{user.username}}</h1>
			{% endif %}
			<nav id="nav">
				{% if user.is_authenticated %}
				<ul>
					<li><a href="/main/">Go Back Home</a></li>
					<li><a href="/messages/inbox/">Inbox</a></li>
					<li><a href="{% url "notification-list" %}">{{ count }} new notifications</a></li>
					<li><a href="{% url "logout" %}">Logout</a></li>
				</ul>
				{% else %}
				<ul>
					<li><a href="/main/">Go Back Home</a></li>
					<li><a href="/main/register/">Register Here</a></li>
					<li><a href="{% url "login" %}">Login</a></li>
				</ul>
				{% endif %}
			</nav>
		</header>
		<section id="banner" class="wrapper align-center">
			<div class="container">
	    		<h2>{{ object.name }}</h2>
	    		<h3>Written by: {{ object.author }}</h3>
				{% if user == object.library.owner %}
					<a href="{% url "book-delete" lslug=library.slug slug=object.slug %}" class="button">Delete This Book</a>
				{% endif %}
			</div>
		</section>
	</body>
</html>
