<!DOCTYPE html>
<html>
    <head>
        <title>Adding Books</title>
    </head>

    <body>
        <h1>Add a Book</h1>

        <form id="bookform" method="post">
            {% csrf_token %}
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.author.label_tag }}
            {{ form.author }}
            <input hidden id="library" size="20" type="text" name="library" value={{ library.id }}  >
            <input type="submit" name="submit" value="Create Book" />
        </form>
    </body>

</html>