<!DOCTYPE html>
<html>
<head>
	<title>MyLibrary</title>
</head>
<body>
	{% if user.is_authenticated %}
		<h1>Welcome {{ user.username }}</h1>
		<h4><a href="/main/logout/">Logout</a></h4><br />
		{% if lib_id %}
			<h4><a href="/main/mylibrary/{{lib_slug}}">View My Library</a></h4>
		{% else %}
			<h4><a href="/main/library/add">Add Your Library</a></h4>
		{% endif %}
	{% else %}
		<h1>Welcome To MyLibrary</h1>
		<h3><a href="/main/register/">Register Here</a></h3>
		<h4><a href="/main/login/">Login</a></h4>
	{% endif %}
</body>
</html>