<!DOCTYPE html>
<html>
	<a href="/main/">Go Back Home</a>
	{% block content %}
	    <h2>{{ object.name }}</h2>
	    {% if user.id == object.id %}
	    	<h4><a href="/main/mylibrary/{{object.slug}}/book/add">Add a new book</a></h4>
	    	<a href="{% url "manage-books" slug=object.slug %}">Edit Books</a>
	    	<a href="update"> update</a> <br><br>
	    	<a href="delete">Delete This Library</a>
	    {% endif %}
	{% endblock %}
	<br><br>
	{% block content2 %}
	    <h2>Books</h2>
	    <ul>
	        {% for book in book_list %}
	            <a href="{% url "library-detail" book.slug %}"><li>{{ book.name }}</li></a>
	        {% endfor %}
	    </ul>
	{% endblock %}

	<div class="pagination">
	    <span class="step-links">
	        {% if page_obj.has_previous %}
	            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
	        </span>

	        {% if page_obj.has_next %}
	            <a href="?page={{ page_obj.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>
</html>