<!DOCTYPE html>
<html>
    <head>
        <title>Adding Libraries</title>
    </head>

    <body>
        <h1>Add a Library</h1>
        <form id="libraryform" method="post">
            {{ form.errors }}
            {% csrf_token %}
            Your Library's Name:
            {{ form.name }}
            <br><br>
            {{ form.location.label_tag }}
            {{ form.location }}
            <br><br>
            <input hidden id="owner" size="20" type="text" name="owner" value={{ user.id }}  >
            <input type="submit" name="submit" value="Create Library" />
        </form>
    </body>

</html>